spring:
  application:
    name: spring-modulith-test1
  mongodb:
    uri: ${MONGODB_URI:mongodb://localhost:27017}
    database: ${MONGODB_DATABASE:country-db}

# Logging configuration
logging:
  level:
    dev.neate: DEBUG
    org.springframework.modulith: DEBUG
