spring:
  application:
    name: spring-modulith-test1
  data:
  mongodb:
    uri: ${MONGODB_URI:mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0}
    database: ${MONGODB_DATABASE:country-db}
    representation:
      uuid: STANDARD
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer

# Logging configuration
logging:
  level:
    dev.neate: DEBUG
    org.springframework.modulith: DEBUG
